/* styles.css */

/* Style for the body element */
body {
    /* Change the background color to a dark grey. (Dark mode my beloved) */
    background-color: #0c0b0b; /* Dark gray background */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Set the height to 100% of the viewport height */
}

/* Styles for the main heading (h1) and smaller text elements */
h1, .smaller-text {
    /* Set the font family, font size, and color for the text */
    font-family: Arial, sans-serif; /* Specify font family */
    font-size: 42px; /* Set font size to 42 pixels */
    color: #e6e6e6; /* Light gray text color */
    text-align: center; /* Center align the text */
    margin: 0; /* Remove default margin */
}

/* Add margin only to the main heading (h1) */
h1 {
    margin-top: 10px; /* Add margin on top to create a gap */
}


/* Styles for the container holding the content */
.container {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center align the items horizontally */
    margin: 0 20px; /* Add left and right margins */
}

/* Add styles for the logo container */
.logo-container {
    position: relative; /* Make the container position relative */
    width: 160px; /* Set width */
    height: 160px; /* Set height */
}

/* Style for the logo background */
.logo-background {
    position: absolute; /* Position the background absolutely */
    top: 0; /* Position from the top */
    left: 0; /* Position from the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    z-index: 1; /* Place it behind the logo */
}

/* Additional style for the Mr. Robot background */
.logo-background-mrrobot {
    position: absolute; /* Position the background absolutely */
    top: 0; /* Position from the top */
    left: 0; /* Position from the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    z-index: 0; /* Place it further behind the logo */
    display: none; /* Initially hide it */
}


.logo {
    /* Add styles for the Toasted Den logo */
    display: block; /* Display as block element */
    width: 100%; /* Set the width to 100% */
    height: auto; /* Auto adjust height to maintain aspect ratio */
    position: relative; /* Position relative for z-index */
    z-index: 1; /* Ensure logo is on top */
    animation: spinAnimation 2.5s cubic-bezier(0.5, 0.1, 0.5, 1) infinite; /* Add spinning animation */
}

.logo-background {
    /* Add styles for the background image */
    position: absolute; /* Position absolutely within the container */
    width: 100%; /* Set the width to 100% */
    height: auto; /* Auto adjust height to maintain aspect ratio */
    z-index: 0; /* Place behind other content */
}

/* Styles for smaller text elements */
.smaller-text {
    /* Set the font size and color for the smaller text */
    font-size: 24px; /* Set font size to 24 pixels */
    color: #CCCCCC; /* Light gray text color */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

/* Add margin only to the text below h1 */
h1 + .smaller-text {
    margin-top: 5px; /* Add 5px margin */
}

/* Styles for hyperlinks within smaller text */
.smaller-text a {
    color: #f9d290; /* Light blue color for hyperlinks */
    text-decoration: underline; /* Add underline to hyperlinks */
    cursor: pointer; /* Change cursor to pointer */
}

/* Additional gap text styling */
#gap-text {
    margin-bottom: 10px; /* Add margin bottom to create a gap */
}

/* Define spinning animation */
@keyframes spinAnimation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

/* Style for the footer */
.footer {
    font-family: Arial, sans-serif; /* Specify the desired font family */
    font-size: 15px; /* Set the font size */
    background-color: #0c0b0b; /* Dark gray background for the footer */
    color: white; /* White text color for the footer */
    padding: 20px 0; /* Add padding to the top and bottom of the footer */
    text-align: center; /* Center align text */
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Align to the bottom of the viewport */
    width: 100%; /* Full width */
}

/* Style for the links within the footer */
.footer a {
    color: #917b55; /* White color for links */
    text-decoration: none; /* Remove underline from links */
    margin: 0 10px; /* Add margin to separate links */
}

.footer a:hover {
    text-decoration: underline; /* Add underline on hover */
}
